/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 720px) {
  div.title {
    font-size: 80px;
    font-weight: lighter;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 719px) {
  div.title {
    font-size: 50px;
    font-weight: lighter;
  }
}
